<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beranda</title>
</head>
<body>
    <h1>Selamat Datang di Toko Kami</h1>

    <section>
        <h2>Daftar Produk</h2>
        <div th:if="${#lists.isEmpty(products)}">
            <p>Tidak ada produk tersedia.</p>
        </div>
        <ul th:each="product : ${products}">
            <li>
                <h3 th:text="${product.name}"></h3>
                <p th:text="${product.description}"></p>
                <p>Harga: Rp <span th:text="${product.price}"></span></p>
            </li>
        </ul>
    </section>
</body>
</html>